body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
  }
  

  #anakisim {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
  

  #üst {
    text-align: center;
    width: 100%;
    height: 150px;
    background-color: #815502;
  }
  
  #üst h1.döner {

    color: #f39c12;
  }
  
  #üst h2.evi {
    color: #3498db;
  }
  
  #üst ul {
    list-style-type: none;
    padding: 0;
  }
  
  #üst ul li {
    display: inline;
    margin-right: 20px;
  }
  
  #üst ul li a {
    text-decoration: none;
    color: #000000;
    background-color: #ffd000;
    padding: 15px;
    transition: 0.5s;
    
  }

  #üst ul li a:hover{
    text-decoration: none;
    color: #f0f0f0;
    background-color: #ff9900;
    padding: 20px
    
  }


  .Kutular {
    display: flex; 
    flex-wrap: wrap; 
    gap: 100px; 
    margin-top: 20px;
    position: relative;
    left: 200px;
  }
  

  .kutu {
    width: 300px;
    height: 300px;  
    background-color: #815502;
    color: white;
    padding: 20px;
    border-radius: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
  }
  .kutu:hover{
    width: 350px;
    height: 350px;  
    background-color: #815502;
    color: white;
    padding: 20px;
    border-radius: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    box-shadow: black 3px 10px 10px 5px;
    transition: 0.5s;
  }
  
  .kutu p{
    font-size: 15px;
  }